/*************************************************
 *  Page Builder: sections and widgets
 **************************************************/
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-section {
  background-color: $sta-home-section-odd;
  padding: 80px 0 80px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

/*************************************************
 *  Hero Widget
 **************************************************/
#hero.home-section {
  padding: 40px;
}
/*************************************************
 *  About widget
 **************************************************/
#about.home-section {
  padding: 10px 0 10px 0;
}

.avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  object-fit: cover;
}

// Use smaller avatar size in About widget on small devices.
@include media-breakpoint-down(sm) {
  .wg-about .avatar {
    width: 100px;
    height: 100px;
  }
}

.portrait-title h2 {
  font-size: 1.2em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0 10px 0;
}

.portrait-title h3 {
  font-size: 0.8em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
  margin: 0px 0 10px 0;
}

#profile .network-icon {
  margin-top: 10px;
}

.network-icon li {
  margin-right: 20px;
}

.big-icon {
  font-size: 1.2rem;
}
